.profileHeader {
  margin-top: 26px;
  display: grid;
  grid-template-columns: 64px 1fr auto;
  align-items: center;
  gap: 14px;
}

.profileHeader__avatar {
  width: 58px;
  height: 58px;
  border-radius: 58px;
  object-fit: cover;
}

.profileHeader__info {
  display: grid;
  gap: 7px;
}

.profileHeader__name {
  color: #1F1F1F;
  font-family: Tahoma;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.profileHeader__username {
  color: #797979;
  font-family: Tahoma;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.profileHeader__side {
  display: grid;
  gap: 3px;
  justify-items: end;
}

.profileHeader__status {
  color: #797979;
  text-align: right;
  font-family: Tahoma;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
}

.profileHeader__statusValue {
  background: var(--Linear, linear-gradient(180deg, #B4713D 0%, #D1AF68 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Tahoma;
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
}

.profileHeader__balance {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
  width: 100px;
  height: 29px;
  padding: 0 10px;
  border-radius: 29px;
  background: #000333;

}

.profileHeader__balanceIcon {
  width: 17px;
  height: 17px;
}

.profileHeader__balanceText {
  color: #FFF;
  text-align: right;
  font-family: Tahoma;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
