.sp {
  position: relative;
  display: grid;
  --sp-rail-right: 2px;
  --sp-rail-top: 4px;
  --sp-rail-bottom: 4px;
  --sp-rail-width: 8px;
  --sp-rail-color: #e8e8e8;
  --sp-thumb-color: #c7c7c7;
  --sp-z: 10;
  margin-top: 25px;
}

.sp__box {
  position: relative;
  z-index: calc(var(--sp-z) + 0);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  border-radius: 12px;
  background: #fff;
  scrollbar-width: none;
}
.sp__box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.sp__content {
  display: grid;
  gap: 20px;
  min-width: 0;
}
.gg:last-child {
  margin-top: 0;
}

.sp__rail {
  position: absolute;
  right: var(--sp-rail-right);
  top: var(--sp-rail-top);
  bottom: var(--sp-rail-bottom);
  width: var(--sp-rail-width);
  background: var(--sp-rail-color);
  border-radius: 8px;
  pointer-events: none;
  z-index: calc(var(--sp-z) + 1);
}

.sp__thumbY {
  position: absolute;
  right: var(--sp-rail-right);
  top: var(--sp-rail-top);
  width: var(--sp-rail-width);
  border-radius: 8px;
  background: var(--sp-thumb-color);
  pointer-events: none;
  z-index: calc(var(--sp-z) + 2);
  transition:
    transform 0.06s linear,
    height 0.06s linear;
}
