.sl__main {
  padding: 12px 16px;
}

.sl__row {
  width: 100%;
  text-align: left;
  background: #fff;
  border: 0;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 #EEF2F7 inset;
}

.sl__row span {
  color: #9CA3AF;
}