.fav__sectionTitle {
  color: #FFF;
  font-family: "Alegreya_Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 18px 0 10px;
}
.space-box {
  height: 150px;
}
.promo-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 20px 0px;
}
.promo__tile {
  width: 153px;
  height: 115px;
}


