.notif {
  &__main {
    padding: 24px;
  }

  &__block {
    border-bottom: 1px solid #E2E8F0;
    padding: 16px 0;
  }
  &__block:last-child {
    border-bottom: none;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #fff;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  &__sub {
    color: #fff;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin-top: 4px;
  }

  &__time {
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }
}