.trx {
  position: relative;
  display: grid;
  grid-template-columns: 44px 1fr auto;
  gap: 12px;
  padding: 10px 26px;
  background: #fff;
}

.trx__left {
  display: grid;
  place-items: center;
}

.trx__avatar {
  width: 44px;
  height: 44px;
  border-radius: 999px;
  background: #eff3f7;
  display: grid;
  place-items: center;
}
.trx__cents {
  color: rgba(16, 24, 40, 0.4);

  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.trx__avatar span {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  background: #80c0ff;
  position: absolute;
  left: 10px;
  top: 37%;
}

.trx__mid {
  display: grid;
  gap: 2px;
}

.trx__sum {
  color: #101828;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.trx__title {
  color: var(--Gray-500, #667085);
  font-family: "SF Pro Text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 230px;
}

.trx__right {
  color: var(--Gray-500, #667085);
  align-self: center;
  font-family: "SF Pro Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}
