.srow {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 18px;
  align-items: center;
  gap: 10px;
  padding: 16px 0px;
  background: #fff;
  border: 0;
}

.srow__label {
  text-align: left;
  color: var(--Text-Black, #121826);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
