.subb {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 14px;
  padding: 24px;
  border-radius: 20px;
  border-radius: 12px;
  background: linear-gradient(255deg, rgba(255, 210, 248, 0.60) 2.37%, rgba(255, 191, 245, 0.52) 16.08%, rgba(255, 162, 240, 0.41) 35.96%, rgba(255, 159, 240, 0.46) 57.32%, rgba(255, 145, 237, 0.40) 73.23%, rgba(255, 148, 238, 0.34) 89.62%);
  backdrop-filter: blur(6px);
  color: #fff;
}
.subb__label {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.subb__name {
  margin-top: 6px;
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.subb__btn {
  width: 131px;
  height: 49px;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
