.incomeCard {
  position: relative;
  display: grid;
  border-radius: 20px;
  overflow: hidden;
  height: 115px;
}

.incomeCard__img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.95;
  height: 115px;
}

.incomeCard__panel {
  position: relative;
  width: 62%;
  padding: 6px 10px;
  display: grid;
  gap: 3px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 115px;
}


.incomeCard__title {
  color: #FFF;
  text-align: center;
  font-family: "Alegreya_Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  border-radius: 15px;
  background: rgba(91, 34, 41, 0.60);
  backdrop-filter: blur(5.699999809265137px);
  //width: 158px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.incomeCard__title--blue{
  background: #BBB5FF;
  border:0.6px solid rgba(255, 255, 255, 0.31);
}

.incomeCard__amount {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 11.521px;
  font-style: normal;
  font-weight: 700;
}

.incomeCard__btn {
  width: 81px;
  height: 20px;
  border: 0;
  border-radius: 999px;
  color: #010d19;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
}

.incomeCard--empty .incomeCard__img {
  display: none;
}

.incomeCard--empty .incomeCard__panel {
  background: rgba(64, 25, 29, 0.55);
}

.incomeMini {
  position: relative;
  display: grid;
}

.incomeMini__tally {
  position: relative;
  z-index: 2;
  //width: 158px;
  height: 21px;
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 1fr;
  align-items: center;
  padding: 0 12px;
  margin-top: -22px;
  color: rgba(255, 255, 255, 0.55);
  overflow: hidden;
  border-radius: 15px 15px 1.885px 1.885px;
  border: 0.754px solid #FFF;
  background: rgb(158, 86, 123);
  box-shadow: 0 1.508px 3.769px 0 rgba(0, 0, 0, 0.25) inset;
}
.incomeMini__cell {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  opacity: 0.5;
  color: #fff;

  text-align: center;
  font-family: "SF Pro Display";
  font-size: 11.521px;
  font-style: normal;
  font-weight: 700;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
}

.incomeMini__cell:last-child {
  border-right: 0;
}

.incomeMini__cell--active {
  color: #fff;
  opacity: 1;
}

.incomeMini__unit {
  position: absolute;
  bottom: 3px;
  right: 3px;
  color: #fff;
  text-align: right;
  font-family: "SF Pro Display";
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
}

.incomeMini__panel {
  position: relative;
  z-index: 1;
  margin-top: -20px;
  padding: 30px 16px 0 16px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  //width: 158px;
  border-radius: 0 0 15px 15px;
  background: rgba(91, 34, 41, 0.60);
  backdrop-filter: blur(5.699999809265137px);
}
.incomeMini__btn {
  width: 100%;
  height: 20px;
  border: 0;
  color: #fff;
  backdrop-filter: blur(5.699999809265137px);
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  border-radius: 12px;
  background: linear-gradient(90deg, #F6C5D1 0%, #EF99B2 50%, #A39AFF 100%), rgba(255, 106, 204, 0.84);
  box-shadow: 0 6px 12px 3px rgba(255, 111, 215, 0.22);
}
.incomeMini__descr{
  font-family: "SF Pro Display";
  font-size: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  margin-top: 10px;
  height: 9px;
}
.incomeCard.is-clickable {
  cursor: pointer;
}
.incomeCard__overlay {
  position: absolute;
  right: 10%;
  bottom: 0;
  max-height: 100%;
  pointer-events: none;
  z-index: 0;
}
