.promoCard {
  position: relative;
  display: grid;
  border-radius: 20px;
  overflow: hidden;
  height: 80px;
  isolation: isolate;
}

.promoCard__img {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: right center;
  z-index: 0;
}

.promoCard__panel {
  position: relative;
  z-index: 1;
  padding: 14px 16px;
  width: 60%;
  display: grid;
  gap: 16px;
}

.promoCard__title {
  color: #000;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}

.promoCard__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  border-radius: 15px;
  background: #bcbcbc;
  backdrop-filter: blur(5.699999809265137px);
  color: #fff;
  text-align: center;
  font-family: "SF Pro Display";
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
  width: 118px;
}
