@use "../../shared/styles/_fonts";
@use "./variables";

* {
  padding: 0;
  margin: 0;
  border: 0;

}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  webkit-tap-highlight-color: transparent;
}

:focus,
:active {
  outline: none;
}

.featureTile,
.refCard,
.featureTile * {
  -webkit-tap-highlight-color: transparent;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.body--pin {
  background-image: url('/bg/bgpin.jpg');
}

body.body--something {
  background-image: url('/bg/bgmain.jpg');
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

//////////////////////////////////////////////////

:root {
  --vh: 1dvh;
  --footer-h: 83px;
  //background-color: #fff;
}

@supports (height: 1svh) {
  :root {
    --vh: 1svh;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh) * 100);
  width: 100%;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}

@media (max-width: 768px) {
  body.telegram-fullscreen .app {
    padding-top: 10vh;
  }
}
.screen {
  flex: 1 1 auto;
  width: 100%;
  min-height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 26px 0 26px;
}

.screen__spacer {
  height: 50px;
  margin-bottom: 40px;
  flex: 0 0 auto;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

a:focus,
button:focus {
  outline: none;
}
.entry-screen {
  min-height: 100vh;
  width: 100%;
  background-image: url('/bg/bgmain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.top-rectangle {
  //position: fixed;
  //box-sizing: border-box;
  height: 12vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.app-layout {
  min-height: 100vh;
  width: 100%;
  background-image: url('/bg/bgmain.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
