.preview {
  position: relative;
  //min-height: 100dvh;
}

.preview__hero {
  position: relative;
  height: 64dvh;
  max-height: 500px;
  overflow: hidden;
}

.preview__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview__topbar {
  position: fixed;
  top: 12vh;
  left: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
}

.icon-btn {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(6px);
  color: #fff;
}

.spacer {
  flex: 1;
}

.preview__title {
  position: absolute;
  left: 24px;
  bottom: 20%;
  margin: 0;
  line-height: 1.1;
  z-index: 1;
  color: var(--Grayscale-White, #fff);
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
.preview__subtitle{
  position: absolute;
  left: 24px;
  bottom: 20%;
  margin: 0;
  line-height: 1.1;
  z-index: 1;
  color: var(--Grayscale-White, #fff);
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.preview__sheet {
  background-image: url("/bg/bgmain.jpg");
  position: relative;
  margin-top: -20px;
  z-index: 1000;
  //background: #fff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 25px;
  min-height: calc(56dvh + 20px);
  h2 {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
  }
  p {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;

  }
}

.preview__sheet-head {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 140%;
}

.preview__text {
  display: grid;
  gap: 12px;
  color: #FFF;
  font-family: "SF Pro Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
}

.preview__price {
  color: var(--Text-Black, #121826);
  font-family: "SF Pro Display";
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500;
  margin-top: 23px;
}

.preview__cta {
  width: 100%;
  margin-top: 14px;
}
