.fav__sectionTitle {
  color: #FFF;
  font-family: "Alegreya_Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 18px 0 10px;
}
.screen.favorites{
  padding-top: 20px;
}
.space-box {
  height: 150px;
}
