.acc__main {
  padding: 0px 24px 110px;
}

.acc__card {
  background: transparent;
  border-radius: 16px;
  padding: 0px;
  display: grid;
  gap: 16px;

  & + & {


  }
}
.card2-nth{
  border-top: 1px solid #F1F5F9;
  border-radius: 0;
  padding-top: 32px;
  margin-top: 32px;
}

.acc__grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.acc__title {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.acc__group {
  gap: 0px;
  margin-top: 16px;
}

.acc__group-title {
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  padding: 2px 2px 10px;

}

.acc__row {
  width: 100%;
  padding: 16px 4px;
  background: none;
  border: 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #EEF2F7;
  color: #fff;
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

}

.acc__row:first-of-type {
  border-top: 0;
}

.acc__chev {
  color:#fff;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 8px;
}