.wrap {
  max-width: 720px;
  margin: 0 auto;
  padding: 16px 20px 24px;
  color: #fff;
}
.header {
  margin-bottom: 8px;
}
.h1 {
  color: #FFF;
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.2px;
  margin: 0 0 8px;
}
.content {
  display: grid;
  gap: 20px;
}
.section {
  display: grid;
  gap: 8px;
}
.h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}
.p {
  color: #FFF;
  font-family: "SF Pro Display";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.2px;
  margin: 0;
  white-space: pre-line;

}
.list {
  margin: 0;
  padding-left: 20px;
  display: grid;
  gap: 6px;
  font-size: 14px;
  line-height: 1.6;
}
@media (min-width: 480px) {
  .wrap {
    padding: 24px 24px 32px;
  }
  .h1 {
    font-size: 22px;
  }
}
