.sub {
  &__main {
    padding: 0 24px 110px;
  }

  &__section {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  &__pill {
    border-radius: 12px;
    background: linear-gradient(255deg, rgba(255, 210, 248, 0.60) 2.37%, rgba(255, 191, 245, 0.52) 16.08%, rgba(255, 162, 240, 0.41) 35.96%, rgba(255, 159, 240, 0.46) 57.32%, rgba(255, 145, 237, 0.40) 73.23%, rgba(255, 148, 238, 0.34) 89.62%);
    backdrop-filter: blur(6px);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 24px 24px;
    color: #F8FAFC;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    &--grad {
      border-radius: 12px;
      background: linear-gradient(90deg, #FBFFE8 0.03%, #FEEEC1 50.49%, #F8BF5E 100.13%);
    }
  }

  &__pill-left {

  }

  &__pill-right {
    color: #F8FAFC;
    text-align: right;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    justify-self: end;
  }

  &__pitch {
    margin-top: 36px;
  }

  &__h2 {
    color: #fff;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin: 8px 0 20px;
  }

  &__ul {
    display: grid;
    gap: 12px;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
  }

  &__li {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 10px;
    align-items: start;
    color: #fff;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  &__dot {
    width: 20px;
    height: 20px;
    border-radius: 999px;
    background: #fff;
    position: relative;
    top: -2px;

    img {
      margin-left: 5px;
      margin-top: 6px;
    }
  }

  &__offer {
    border-radius: 24px 24px 0 0;
    background: var(--Input-Field, #F1F5F9);
    width: 100%;
  }

  .abc {
    position: absolute;
    bottom: 0px;
    border-radius: 24px 24px 0 0;
    min-height: 360px;
    border-radius: 34px 34px 0 0;
    background: rgba(255, 255, 255, 0.30);
    width: 100%;
  }

  &__offer-card {
    position: absolute;
    bottom: 115px;
    right: 24px;
    left: 24px;
    width: 88%;
    border-radius: 12px;
    background: linear-gradient(255deg, rgba(255, 210, 248, 0.60) 2.37%, rgba(255, 191, 245, 0.52) 16.08%, rgba(255, 162, 240, 0.41) 35.96%, rgba(255, 159, 240, 0.46) 57.32%, rgba(255, 145, 237, 0.40) 73.23%, rgba(255, 148, 238, 0.34) 89.62%);
    backdrop-filter: blur(6px);
    padding: 16px;
  }

  &__offer-title {
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: 14px;
    color: #FFF;
    margin-bottom: 6px;
  }

  &__offer-price {
    color: #FF922D;
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.2px;
  }

  &__offer-note {
    color: rgba(255, 106, 204, 0.84);
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
  }

  &__offer-sub {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 6px;
  }

  &__cta {
    margin-top: 14px;
  }

  &__details {
    margin-top: 18px;
    display: grid;
    gap: 20px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    color: var(--Text-Black, #121826);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
  }

  &__value {
    color: var(--Text-Black, #121826);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }

  &__link {
    appearance: none;
    background: none;
    border: 0;
    padding: 0;
    color: #0B1229;
    border-bottom: 2px solid #121826;
    color: var(--Text-Black, #121826);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
}
.sub__offer-card-month{
  position: absolute;
  bottom: 230px;
  right: 24px;
  left: 24px;
}