.faq {
  &__main {
    padding: 0 16px 24px;
  }

  &__search {
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: center;
    gap: 8px;
    height: 48px;
    padding: 0 12px;
    border-radius: 12px;
    background: linear-gradient(255deg, rgba(255, 210, 248, 0.60) 2.37%, rgba(255, 191, 245, 0.52) 16.08%, rgba(255, 162, 240, 0.41) 35.96%, rgba(255, 159, 240, 0.46) 57.32%, rgba(255, 145, 237, 0.40) 73.23%, rgba(255, 148, 238, 0.34) 89.62%);
    backdrop-filter: blur(6px);
    margin: 12px 0 14px;
  }

  &__search-ico {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &__search-input {
    appearance: none;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-weight: 500;
    color: #FFF;
  }

  &__search-input::placeholder {
    color: #FFF;
  }

  /* Список */
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 10px;
  }

  &__item {
    border-radius: 12px;
    border: 1px solid var(--Other-Empty, #F1F5F9);
    overflow: hidden;
    transition: border-color .2s, background .2s, box-shadow .2s;

    &.is-open {
      border-radius: 12px;
      border: 1px solid #FFF;
      background: linear-gradient(255deg, rgba(255, 210, 248, 0.60) 2.37%, rgba(255, 191, 245, 0.52) 16.08%, rgba(255, 162, 240, 0.41) 35.96%, rgba(255, 159, 240, 0.46) 57.32%, rgba(255, 145, 237, 0.40) 73.23%, rgba(255, 148, 238, 0.34) 89.62%);
      backdrop-filter: blur(6px);
    }
  }

  &__btn {
    width: 100%;
    display: grid;
    grid-template-columns:1fr 24px;
    align-items: center;
    gap: 12px;
    padding: 16px;
    background: transparent;
    border: 0;
    cursor: pointer;
  }

  &__q {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
  }

  &__chev {
    width: 20px;
    height: 20px;
    position: relative;
    background-image: var(--chev-down);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

  }

  .is-open &__chev {
    background-image: var(--chev-up);
  }

  &__chev.is-rotating::before, &__chev.is-rotating::after {
    content: '';
    position: absolute;
    left: 4px;
    right: 4px;
    top: 9px;
    height: 2px;
    background: #FFF;
    transform-origin: center;
    transition: transform .18s ease, background .18s ease;
  }

  &__chev.is-rotating::before {
    transform: rotate(45deg) translateY(4.8px);
  }

  &__chev.is-rotating::after {
    transform: rotate(-45deg) translateY(4.8px);
  }

  .is-open &__chev.is-rotating::before {
    transform: rotate(-45deg) translateY(-4.8px);
    background: #FFF;
  }

  .is-open &__chev.is-rotating::after {
    transform: rotate(45deg) translateY(-4.8px);
    background: #FFF;
  }

  &__panel {
    height: 0;
    overflow: hidden;
    will-change: height;
    transition: height .18s ease;
  }

  &__panel-inner {
    padding: 0 16px 14px;
  }

  &__a {
    margin: 0;
    color: #FFF;
    font-family: "SF Pro Display";
    line-height: 140%;
    letter-spacing: 0.2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }
}