.tp{
  position: relative;
  width: 208px;
  height: 180px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;

}

.tp__cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  height: 100%;
}

.tp__col{
  position: relative;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: auto;
  will-change: scroll-position;
  contain: content;
}
.tp__col::-webkit-scrollbar{ display: none; }

.tp__item{
  height: 44px;
  display: grid;
  place-items: center;
  scroll-snap-align: center;
  color: var(--Text-Body-light, #94A3B8);
  font-family: "SF Pro Display";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.tp__item.is-active{
  color: rgba(70, 10, 60, 0.41);
  text-align: right;
  font-family: "SF Pro Display";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.tp__num{ letter-spacing: 0.5px; }

.tp__fade{
  pointer-events: none;
  position: absolute;
  left: 0; right: 0;
  height: 36px;
}

.tp__focus{
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: calc(100% - 32px);
  height: 56px;
  transform: translate(-50%, -50%);
  outline-offset: -2px;
  border-radius: 5px;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.52);
  background: linear-gradient(255deg, rgba(255, 210, 248, 0.60) 2.37%, rgba(255, 191, 245, 0.52) 16.08%, rgba(255, 162, 240, 0.41) 35.96%, rgba(255, 159, 240, 0.46) 57.32%, rgba(255, 145, 237, 0.40) 73.23%, rgba(255, 148, 238, 0.34) 89.62%), #F1F5F9;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25) inset;

}

.tp__vline{
  pointer-events: none;
  position: absolute;
  top: 0px; bottom: 0px;
  width: 0.3px;
  background: #E2E8F0;
  z-index: 1;
}
.tp__vline--left{ left: calc(50% - 6px); }
.tp__vline--right{ right: calc(10% - 6px); }