.fav__sectionTitle {
  color: var(--Text-Black, #121826);
  font-family: "Alegreya_Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  margin: 18px 0 10px;
}
.space-box {
  height: 150px;
}
